* {
  box-sizing: border-box;
  margin: 0;
}

:root {
  --mainPurple: #4e2727;
  --secondPurple: rgba(153, 38, 38, 0.562);
}

body {
  margin: 0;
  top: 0;
  bottom: 0;
  display: flex;
  flex-direction: column;
  /* justify-content: center; */
  /* align-items: center; */
  background-color: var(--mainPurple);
  color: white;
  font-weight: 500;
}

a {
  text-decoration: none;
  
}

p {
  color: lightgray;
}

/* Main Components */

header {
  height: auto;
  width: 100%;
  text-align: center;
  top: 0;
  margin: 0;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  position: fixed;
  background-color: var(--mainPurple);  
}

.header-top{
  display: flex;
  justify-content: space-between;
  margin: 5px 0 0 0;
}

.header-top h2 {
  margin: 8px 0 0 0; 
}

.header-icon {
  font-size: 25px;
  margin: 10px 15px;
  color: rgba(221, 221, 221, 0.912);
}

.search-form {
  width: 100%;
  display: flex;
  justify-content: center;
  margin: 0px 0 1.5rem 0;
}

.search-form input {
  width: 90%;
  height: 33px;
  border-radius: 50px;
  background-color: var(--secondPurple);
  border: none;
  text-align: center;
  /* change text align when typing */
  color: white;
}

.search-icon {
  font-size: 20px;
  margin-left: -30px;
  margin-top: 5px;
}

::placeholder {
  color: white;
}

@media screen and (max-width: 600px) {
  .search-button {
    display: none;
  }
}

header p {
  margin: 10px 0 8px 15px;
  text-align: left;
  font-size: 15px;
}

nav {
  position: fixed;
  bottom: 0;
  width: 100%;
  height: 60px;
  border-top: 1px solid gray;
  background-color: white;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.logo{
  /* border: 1px solid;
  border-radius: 20%; */
  height: 60px;
  width: 80px;
  font-size: 30px;
  display: flex;
  align-items: center;
  font-weight: 900;
  color: var(--mainPurple);
}

.nav-link{
  display: flex;
  flex-direction: column;
  align-items: center;
  color: gray;
}

/* List */

.explore-div {
  
  margin: 4rem 0 0 0;
}

.explore-div h4 {
  padding-left: 1rem;
}

.list {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0;
}

.list-item-grid {
  margin: 0;
  width: 95%;
  height: 80px;
  border-bottom: 1px solid rgba(128, 128, 128, 0.483);

  display: grid;
  grid-template-columns: .3fr .3fr .7fr 1fr .5fr;
  gap: 0;
  align-items: center;
  padding: 0 15px 0 15px;
  font-weight: 300;
}

.icon {
  height: 23px;
  /* width: 20px; */
  z-index: -1;
  filter: invert(52%) sepia(43%) slkaturate(302%) hue-rotate(200deg) brightness(89%) contrast(70%);
}

.name {
  text-transform: capitalize;
}

.symbol, .cap {
  font-size: 15px;
  color: grey;
}

.graph {
  
}

.prices {
  text-align: end;
}


/* Coin Component */

.coin-page-container {
  margin-top: 200px;
}
