* {
  box-sizing: border-box;
  margin: 0;
}

:root {
  --mainPurple: #6a0303;
  --secondPurple: rgba(159, 14, 14, 0.562);
}

body {
  margin: 0;
  top: 0;
  bottom: 0;
  display: flex;
  flex-direction: column;
  /* justify-content: center; */
  /* align-items: center; */
  background: linear-gradient(rgb(96, 3, 3), var(--mainPurple));
  color: white;
  font-weight: 500;
}

a {
  text-decoration: none;
  
}

p {
  color: rgb(183, 183, 183);
}

/* Main Components */

header {
  height: 60px;
  width: 100%;
  text-align: center;
  top: 0;
  margin: 0 0 0px 0;
  padding-bottom: 15px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  position: fixed;
  background-color: #750707;  
  border-bottom: 1px solid rgba(137, 82, 82, 0.515);
}

.header-top{
  display: flex;
  justify-content: space-between;
  margin: 4px 0 0 0;
}

.header-top h2 {
  margin: 4px 0 0 0; 
}

.header-icon {
  font-size: 25px;
  margin: 10px 15px;
  color: rgba(221, 221, 221, 0.912);
}

.search-form {
  width: 100%;
  display: flex;
  justify-content: center;
  margin: 0 0 1.3rem 0;
  padding-top: 1rem;
}

.search-form input {
  width: 90%;
  height: 33px;
  border-radius: 50px;
  background-color: var(--secondPurple);
  border: none;
  text-align: center;
  /* change text align when typing */
  color: white;
}

.search-icon {
  font-size: 20px;
  margin-left: -30px;
  margin-top: 5px;
}

::placeholder {
  color: white;
}

@media screen and (max-width: 600px) {
  .search-button {
    display: none;
  }
}

header p {
  margin: 10px 0 8px 15px;
  text-align: left;
  font-size: 15px;
}

/* Chart Cont */
.chart-cont {
  padding: 1rem;
}

nav {
  position: fixed;
  bottom: 0;
  width: 100%;
  height: 80px;
  border-top: 1px solid gray;
  background-color: white;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.logo{
  /* border: 1px solid;
  border-radius: 20%; */
  height: 60px;
  width: 80px;
  font-size: 30px;
  display: flex;
  align-items: center;
  font-weight: 900;
  color: var(--mainPurple);
}

.nav-link{
  display: flex;
  flex-direction: column;
  align-items: center;
  color: gray;
}

/* List */

.explore-div {
  
  margin: 4rem 0 0 0;
}

.explore-div h4 {
  padding-left: 1rem;
}

.list {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0;
}

.list-item-grid {
  margin: 0;
  width: 95%;
  height: 80px;
  border-bottom: 1px solid rgba(128, 128, 128, 0.483);

  display: grid;
  grid-template-columns: .13fr .22fr .65fr 1fr .5fr;
  gap: 0;
  align-items: center;
  padding: 0 5px 0 5px;
  font-weight: 300;
}

.icon {
  height: 23px;
  /* width: 20px; */
  z-index: -1;
  filter: invert(62%) sepia(53%) saturate(202%) hue-rotate(0deg) brightness(69%) contrast(70%);
}

.name {
  text-transform: capitalize;
}

.symbol, .cap {
  font-size: 15px;
  color: grey;
}

.prices {
  text-align: end;
}


/* Coin Component */

.coin-page-container {
  margin-top: 100px;
  height:80vh;
}

.top-details {
  width: 100%;
  padding: 0 .5rem 0 .5rem;
  display: flex;
  justify-content: space-between;
  margin-bottom: 5rem;
}

.coin-name-icon-heart {
  width: 98%;
  display: flex;
  margin-left: .5rem;
  padding-right: .5rem;
}

.coin-name-icon-heart img {
  margin-right: 10px;
}

.coin-name {
  text-transform: capitalize;
}

.coin-heart {
  font-size: 27px;
  display: flex;
  align-self: center;
  margin-left: auto;
  cursor: pointer;
}

.coin-price {
  font-size: 30px;
  display: flex;
  justify-content: space-between;
  width: 180px;
}

.price-span {
  color: gray;
  font-size: 20px;
  height: 100%;
  margin-top: 1px;
  display: flex;
  align-items: center;
  margin: px;
}

.graph-times {
  display: flex;
  width: 100%;
  justify-content: space-around;
}

.graph-times p {
  font-size: 15px;
  font-weight: 400;
}

.change-percent {
  display:flex;
  align-items: center;
  color: teal;
}

.bottom-cont{
  border-top: 1px solid gray;
  padding: 1.5rem;
  width: 100%;
  display: flex;
  justify-content: space-around;
}

.info-label {
  font-size: 12px;
}

.bottom-info {
  font-size: 25px;
  color: whitesmoke;
}

.bottom-cont div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.fav-popup {
  top: 0;
  right: 0;
  height: 100%;
  width: 100%;
  z-index: 100;

}